<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.papo241836" version="0.7.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Papudinho</name>
  <description>
    Aplicativo sobre Whisky
  </description>
  <author email="raivitor@gmail.com">
      Rai Vitor Morais da Silva
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <icon src="img/logo-papudinho.png" />
  <platform name="android">
    <icon src="img/logo-papudinho.png" density="ldpi" />
    <icon src="img/logo-papudinho.png" density="mdpi" />
    <icon src="img/logo-papudinho.png" density="hdpi" />
    <icon src="img/logo-papudinho.png" density="xhdpi" />
  </platform>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>


  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <feature name="http://api.phonegap.com/1.0/camera" />
  <feature name="http://api.phonegap.com/1.0/file" />

  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
  </feature>
</widget>