<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Papudinho</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/papuchat.js"></script>


    <script src="js/app.js"></script>
    <script src='js/ngMask.min.js'></script>
    <script src="js/Ctrl_AddBar.js"></script>
    <script src="js/Ctrl_AddAmigo.js"></script>
    <script src="js/Ctrl_Amigos.js"></script>
    <script src="js/Ctrl_Back.js"></script>
    <script src="js/Ctrl_Bar.js"></script>
    <script src="js/Ctrl_Bares.js"></script>
    <script src="js/Ctrl_CadastroForm.js"></script>
    <script src="js/Ctrl_Cartao.js"></script>
    <script src="js/Ctrl_CartaoDetalhe.js"></script>
    <script src="js/Ctrl_Cartoes.js"></script>
    <script src="js/Ctrl_CartaoHistorico.js"></script>
    <script src="js/Ctrl_Chat.js"></script>
    <script src="js/Ctrl_Config.js"></script>
    <script src="js/Ctrl_Dados.js"></script>
    <script src="js/Ctrl_Home.js"></script>
    <script src="js/Ctrl_LoginForm.js"></script>
    <script src="js/Ctrl_MeusCartoes.js"></script>
    <script src="js/Ctrl_NovaSenha.js"></script>
    <script src="js/Ctrl_NovoCartao.js"></script>
    <script src="js/Ctrl_Promocoes.js"></script>
    <script src="js/Ctrl_Sidebar.js"></script>
    <script src="js/Ctrl_UpdateCartao.js"></script>
    <script src="js/Service_Cartao.js"></script>
    <script src="js/Service_Usuario.js"></script>
    <script src="js/Service_Amizade.js"></script>
    <script src="js/diretivas.js"></script>
    <script src="js/funcoes.js"></script>



  </head>
  <body ng-app="app" >

    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button class="voltar bar-royal">
        <i class="ion-chevron-left "></i> Voltar
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="login" type="text/ng-template" >
      <ion-view title="Papudinho" class="bg">
          <ion-nav-bar class="bar-royal" style="display:none;"></ion-nav-bar>
          <ion-content padding="true" class="has-header login" >
              <div style="border: 0px; text-align: center; " >
                  <img src='img/logo-papudinho.png' width="90%" style="vertical-align: middle;" class="login">
              </div>

              <form ng-submit="submit()" ng-controller="LoginForm" class="login">

                  <div align="center" id="msghome" ng-model="checked">
                    <ion-spinner icon="lines" class="spinner-stable" ng-show="checked"></ion-spinner>
                  </div>
                  <div align="center" class="msg" id="msghome" ng-model="checked">
                    {{msg}}
                  </div>
                  <br>
                  <ion-list>
                      <label class="item item-input label-index">
                          <input class="placeholder" id="usuario" name="usuario" type="email" placeholder="Email" ng-model="email" auto-focus>
                      </label>
                      <label class="item item-input label-index">
                          <input class="placeholder" id="senha" name="senha" type="password" placeholder="Senha" ng-model="senha" >
                      </label>
                  </ion-list>
                  <button class="button button-event button-block ">
                    <i class="button button-icon icon ion-ios-checkmark-empty" style="color: white;">&nbsp;Entrar</i>
                  </button>
                  <br>
                  <div align="center">
                    <a href="#/signup">Criar Conta</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#/senha">Esqueci a senha</a>
                  </div>
                  <br>
              </form>
          </ion-content>
      </ion-view>
    </script>

    <script id="signup" type="text/ng-template">
    <ion-view title="Cadastro" class="bg">
        <ion-content padding="true" class="has-header">

            <form ng-submit="submitcadastro()" ng-controller="CadastroForm">
                <ion-list>
                  <div align="center" class="msg" id="msgcadastro" ng-model="checked">
                    <ion-spinner icon="lines" class="spinner-calm" ng-show="checked"></ion-spinner>{{msg}}
                  </div>
                  <label class="item item-input label-index" >
                      <input class="placeholder" type="text" placeholder="Nome" ng-model="user">
                  </label>
                  <label class="item item-input label-index">
                      <input class="placeholder" type="email" placeholder="Email" ng-model="email">
                  </label>
                  <label class="item item-input label-index">
                      <input class="placeholder" type="text" placeholder="Celular" mask="(99) 99999-9999" clean="false" ng-model="phone">
                  </label>
                  <label class="item item-input label-index">
                      <input class="placeholder" type="text" placeholder="CPF" mask="999.999.999-99" clean="false" ng-model="cpf">
                  </label>
                  <label class="item item-input label-index">
                      <input class="placeholder" type="password" placeholder="Senha" ng-model="password">
                  </label>
                  <label class="item item-input label-index">
                      <input class="placeholder" type="password" placeholder="Confirmar Senha" ng-model="password2">
                  </label>
                  <span style="color: blue;" ng-click="openModal()">Ler os termos do contrato</span><br><br>
                  <ion-list  class="item item-input label-index">
                    <ion-checkbox ng-model="termo" class="item item-input label-index" style="border-bottom: 0px;!important ">
                      <span style="color: white;">Aceito os termos do contrato</span>
                    </ion-checkbox>
                  </ion-list>
                </ion-list>
                <button class="button button-event button-block" ng-show="termo">
                  <i class= "button button-icon icon ion-ios-checkmark-empty" style="color: white;">&nbsp;Cadastrar</i>
                </button>
            </form>
        </ion-content>
    </ion-view>
    </script>

    <script id="my-contrato.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Contrato</h1>
          <div class="buttons">
            <button class="button button-clear ion-close-circled" ng-click="closeModal()"></button>
          </div>
        </ion-header-bar>
        <ion-content style="margin-left: 10px; margin-right: 10px;">
          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel arcu nisl. Praesent nec nisl at tortor vehicula condimentum quis in magna. Donec luctus lorem eget arcu blandit rutrum. Sed eu ultrices mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ut accumsan quam, vel congue enim. Fusce varius, arcu sit amet rutrum dictum, est nisi finibus felis, non convallis sem quam quis eros. Aenean id euismod eros. Praesent consequat nibh ut nulla porta tempus. Vivamus ac nibh ac magna elementum pulvinar. Sed porta dolor ac quam fringilla, id maximus libero venenatis. Sed ac tincidunt elit, eu ornare quam.</p>

          <p  align="justify">Proin laoreet ex eget volutpat rutrum. Vivamus lacinia congue velit, quis pretium lacus tempor vel. Morbi congue egestas nisl sed finibus. Maecenas ut pulvinar tellus. Mauris lobortis mauris sit amet libero suscipit malesuada. Donec diam nisl, blandit ac posuere ac, volutpat et eros. Vivamus sit amet egestas tellus, et vestibulum nunc. Ut ullamcorper posuere nisi, et cursus nulla semper non. Aenean non dictum nulla. Proin felis ipsum, dignissim nec purus id, vestibulum euismod ex. Cras gravida nisl tortor, id mollis ex tincidunt sed. Sed pellentesque ipsum vel porta porta. Nullam sit amet sem id nisl dapibus finibus.</p>

          <p  align="justify">Quisque id placerat dui. Duis vitae condimentum orci, quis finibus nibh. In scelerisque justo neque, a commodo risus lacinia non. Maecenas ultrices massa commodo elit varius consequat. Nam urna risus, pulvinar eu interdum vel, imperdiet at leo. Integer hendrerit suscipit dapibus. Sed efficitur ullamcorper neque eget sollicitudin. Curabitur mi neque, lobortis at accumsan a, euismod ac diam.</p>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="senha" type="text/ng-template">
    <ion-view title="Esqueci a senha" class="bg">
        <ion-content padding="true" class="has-header">

            <form ng-submit="submitsenha()" ng-controller="NovaSenha">
              <ion-list>
                <div align="center" class="msg" id="msgsenha" ng-model="checked">
                  <ion-spinner icon="lines" class="spinner-calm" ng-show="checked"></ion-spinner>
                </div>

                <label class="item item-input label-index">
                  <input class="placeholder" type="email" placeholder="Email" ng-model="email">
                </label>
              </ion-list>

              <button class="button button-event button-block ">
                <i class="button button-icon icon ion-ios-checkmark-empty" style="color: white;">&nbsp;Nova Senha</i>
              </button>
            </form>

        </ion-content>
    </ion-view>
    </script>

    <script id="sideMenu" type="text/ng-template" >
      <ion-side-menus enable-menu-with-back-views="false" >

        <ion-side-menu-content>
          <ion-nav-bar class="bar-royal" >
            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon " menu-toggle="left"></button>
            </ion-nav-buttons>
          </ion-nav-bar>

          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left">
          <ion-header-bar class="bar-royal button bot">
             <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content ng-controller="Sidebar" class="bar-royal">
            <ul class="list">
              <a href="#/menu/home" class="item" menu-close><i class="icon ion-android-home" ></i> Home</a>
              <a href="#/menu/meuscartoes" class="item" menu-close><i class="icon ion-card" ></i> Clubes pessoais</a>
              <a href="#/menu/amigos" class="item" menu-close><i class="icon ion-person-stalker" ></i> Amigos</a>
              <a href="#/menu/bares" class="item" menu-close><i class="icon ion-ios-location" ></i> Bares</a>
              <a href="#/menu/cartoes" class="item" menu-close><i class="icon ion-card" ></i> Clubes (bar/restaurante)</a>
              <a href="#/menu/promocao" class="item" menu-close><i class="icon ion-bag" ></i> Promoções</a>
              <a href="#/barmsg" class="item" menu-close><i class="icon ion-email" ></i> Mensagens do Bar</a>
              <a href="#/menu/dados" class="item" menu-close><i class="icon ion-android-home" ></i> Meus Dados</a>
              <a href="#/menu/config" class="item" menu-close><i class="icon ion-ios-gear-outline" ></i> Configurações</a>
              <a href="#/menu/sobre" class="item" menu-close><i class="icon ion-ios-information" ></i> Sobre</a>
              <a href="#" class="item" menu-close ng-click="sair()"><i class="icon ion-forward" ></i> Sair</a>
            </ul>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

    <script id="home" type="text/ng-template">
      <ion-view view-title="Papudinho" ng-controller="Home">
        <ion-content padding="true" class="has-header">
          <div align="center">{{msg}}</div>
          <div ng-repeat="cartao in CartoesVencimento">
            <div class="card" ng-hide="cartao.card_secret">
              <div class="item item-text-wrap" >
                <div class="row">
                  <div class="col"><img ng-src = "{{cartao.historics[cartao.historics.length-1].image_drink.url}}" width="100%"></div>
                  <div class="col col-75">
                    Bar: <b>{{ cartao.bar }}</b><br>
                    Bebida: {{ cartao.drink }}<br>
                    Doses restantes: <b>{{ cartao.remaining_doses}}/{{cartao.total_doses }}</b><br>
                    Vencimento: {{ cartao.due_date }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
        <div class="bar bar-footer button-event">
          <button class="button button-icon icon ion-android-checkmark-circle" ng-click="openModal(1)">Check-in</button>
          <button class="button button-clear button-positive icon ion-android-share-alt" ng-click="openModal(2)">Compartilhe</button>
        </div>
      </ion-view>
    </script>

    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Check-in</h1>
          <div class="buttons">
            <button class="button button-clear ion-close-circled" ng-click="closeModal(1)"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <br><br>
          <span align="center">Realize o seu check-in em um bar:</span>
          <label class="item item-input item-select">
            <div class="input-label">
              Bar
            </div>
            <select ng-model="bar" ng-options="bar.id as bar.name for bar in Bares">
              <option value="">Escolha o bar</option>
            </select>
          </label>
          <button class="button button-block button-event" ng-click="checkin(bar)">
            Check-in
          </button>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="shared-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Compartilhe</h1>
          <div class="buttons">
            <button class="button button-clear ion-close-circled" ng-click="closeModal(2)"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <br><br>
          <button class="button button-block button-event" ng-click="convideAmigo()">
            Convide um amigo para tomar uma!
          </button>
          <button class="button button-block button-event" ng-click="convideApp()">
            Indique o WhiskYou para um amigo!
          </button>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="meuscartoes" type="text/ng-template">
      <ion-view view-title="Meus Cartões" ng-controller="MeusCartoes" data-ng-init="init()">
        <ion-nav-buttons side="right">
          <a href="#/addCartao" class="button button-icon icon ion-plus"></a>
        </ion-nav-buttons>
        <ion-content padding="true" class="has-header">
          <div align="center">
            <ion-spinner icon="lines" class="spinner-calm" ng-show="checked"></ion-spinner>{{msg}}
          </div>
          <div ng-repeat="cartao in cartoes">
            <div class="card">
              <a href="#/cartao/{{cartao.id}}" class="item item-text-wrap" >
                <div class="row">
                  <div class="col"><img ng-src = "{{cartao.historics[cartao.historics.length-1].image_drink.url}}" width="100%"></div>
                  <div class="col col-75">
                    Bar: <b>{{ cartao.bar }}</b><br>
                    Bebida: {{ cartao.drink }}<br>
                    Doses restantes: <b>{{ cartao.remaining_doses}}/{{cartao.total_doses }}</b><br>
                    Vencimento: {{ cartao.due_date | date:'dd/MM/yyyy'}}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="cartao" type="text/ng-template">
      <ion-view view-title="Histórico" ng-controller="Cartao">

      <ion-nav-bar class="bar-royal" ng-controller="Back">
        <ion-nav-buttons side="left">
          <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
            <i class="ion-chevron-left"></i> Voltar
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <a href="#/updatecartao/{{id}}" class="button button-icon icon ion-compose"></a>
        </ion-nav-buttons>
      </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <div align="center">{{msg}}</div>
          <div ng-repeat="cartao in historico">
            <div class="card">
              <a href="#/cartaodetalhe/{{cartao.card_id}}/{{cartao.id}}" class="item item-text-wrap" >
                <div class="row">
                  <div class="col"><img ng-src = "{{cartao.image_drink.url}}" width="100%"></div>
                  <div class="col col-75">
                    Bar:  <b>{{ bar }}</b><br>
                    Bebida: {{ drink }} <br>
                    Doses restantes: <b>{{ cartao.remaining_doses}}/{{total_doses }}</b> <br>
                    Vencimento: {{ vencimento | date:'dd/MM/yyyy' }} <br>

                  </div>
                </div>
              </a>
            </div>
          </div>
          <br>
        </ion-content>

        <div class="bar bar-footer bar-assertive" ng-click="deletar()">
          <div class="title">Deletar Cartão</div>
        </div>
      </ion-view>
    </script>

    <script id="cartaodetalhe" type="text/ng-template">
      <ion-view view-title="Detalhe" ng-controller="CartaoDetalhe">

      <ion-nav-bar class="bar-royal" ng-controller="Back">
        <ion-nav-buttons side="left">
          <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
            <i class="ion-chevron-left"></i> Voltar
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <div align="center">{{msg}}</div>
          <div class="card">
            <div class="item item-text-wrap" >
              <p>
                Bar:  <b>{{ bar }}</b><br>
                Bebida: {{ drink }} <br>
                Doses restantes: <b>{{ detalhe.remaining_doses}}/{{total_doses }}</b> <br>
                Vencimento: {{ vencimento | date:'dd/MM/yyyy' }} <br>
                Atualizado em: {{detalhe.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}<br>
                Criado: {{detalhe.created_at | date:'dd/MM/yyyy HH:mm:ss'}}<br>
                <div class="row">
                  <div class="col">
                    <img ng-src="{{detalhe.image_drink.url}}" width="100%" ng-click="openModal(1)">
                  </div>
                  <div class='col'>
                    <img ng-src="{{detalhe.image_card.url}}" width="100%" ng-click="openModal(2)">
                  </div>
                </div>
              </p>
            </div>
          </div>
        </ion-content>

      </ion-view>
    </script>

    <script id="amigos" type="text/ng-template">
      <ion-view view-title="Amigos" ng-controller="Amigos">

        <ion-nav-bar class="bar-royal">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <a href="#/addAmigo" class="button button-icon icon ion-person-add"></a>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <div class="list">
            <div align="center" class="msg" id="msgamigos">{{msg}}</div>
            <ion-list>
              <ion-item href="#/chat/{{amigo.user_id}}/{{amigo.name}}" class="item-remove-animate item-icon-right" ng-repeat="amigo in Amigos" type="item-text-wrap" on-hold="deletar({{amigo.friendship_id}}, '{{amigo.name}}')">
                ‎<span class="titulo">{{amigo.name}}</span><br>
                <small>{{amigo.phone}}</small>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
        <div class="bar bar-footer button-event" ng-click="openModal()">
          <div class="title">Solicitações pentendentes: {{solPen}}</div>
        </div>
      </ion-view>
    </script>

    <script id="modal-amigos.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Solicitações pentendentes</h1>
          <div class="buttons">
            <button class="button button-clear ion-close-circled" ng-click="closeModal()"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <div class="list list-inset">
            <div class="item" ng-hide="p1 == true" ng-repeat="solicitacao in solicitacoes">
              <div class="row">
                <div class="col col-60 col-center">{{solicitacao.friendship_id}}-{{solicitacao.name}}</div>
                <div class="col"><a class="button button-icon icon ion-checkmark-round" ng-click="aceitar({{solicitacao.friendship_id}})"></a></div>
                <div class="col"><a class="button button-icon icon ion-close-round" ng-click="deletar({{solicitacao.friendship_id}}, '{{solicitacao.name}}')"></a></div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="addAmigo" type="text/ng-template">
      <ion-view view-title="Adicionar Amigo" >

        <ion-nav-bar class="bar-royal" ng-controller="Back">
          <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
              <i class="ion-chevron-left"></i> Voltar
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <form ng-controller="AddAmigo">
            <div align="center" class="msg" id="msgcadastro">{{msg}}</div>
            <ion-list>
              <label class="item item-input">
                <input type="text" placeholder="nome" ng-model="nome" >
              </label>
              <ion-item ng-click="Adicionar(user.email, user.name)" class="item-remove-animate item-icon-right" ng-repeat="user in users | filter:nome" type="item-text-wrap" ng-show="nome.length > 2">
                ‎<span class="titulo">{{user.name}}</span><br>
                <small>{{user.email}}</small>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </ion-list>
          </form>
        </ion-content>
      </ion-view>
    </script>

    <script id="bares" type="text/ng-template">
      <ion-view view-title="Bares" ng-controller="Bares">

        <ion-nav-bar class="bar-royal">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <a href="#/addBar" class="clearLink">
            <button class="button button-event button-block">
              <b>Sugerir bar</b>
            </button>
          </a>

          <label class="item item-input busca">
            <input type="text" ng-model="search.name" placeholder = "Buscar">
          </label>
          <div class="list">
            <div>
              <a class="item item-avatar" href="#/bar/{{module.id}}" ng-repeat="module in Bares | filter:search:strict" type="item-text-wrap">
                <img ng-src="{{ module.logo.thumb.url }}">
                <h2>{{ module.name }}</h2>
                <p>{{ module.city }}, {{ module.state }}</p>
              </a>
            </div>
          </div>

        </ion-content>
      </ion-view>
    </script>

    <script id="bar" type="text/ng-template" >
      <ion-view view-title="Papudinho" >

        <ion-nav-bar class="bar-royal" ng-controller="Back">
          <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
              <i class="ion-chevron-left"></i> Voltar
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header" ng-controller="Bar">
          <div class="list card">

            <div class="item item-avatar">
              <img src="{{bar.logo.thumb.url}}">
              <h2>{{bar.name}}</h2>
              <a href="tel:{{bar.phone}}" class="button button-clear button-positive icon-left ion-android-call">{{bar.phone}}</a>
            </div>

            <div class="item item-body">
               <img class="full-image" src="{{bar.logo.url}}">
              <p>
                {{bar.city}} - {{bar.state}}<br>
                {{bar.district}} - {{bar.street}}, {{bar.number}}<br>
                <a href = "#" class="button button-clear button-positive" ng-click="link(bar.site)">{{bar.site}}</a>
              </p>
            </div>

          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="addBar" type="text/ng-template">
      <ion-view view-title="Sugerir Bar" >

        <ion-nav-bar class="bar-royal" ng-controller="Back">
          <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
              <i class="ion-chevron-left"></i> Voltar
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <form ng-controller="AddBar">
            <div align="center" class="msg" id="msgAddBar">{{msg}}</div>
              <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Nome" ng-model="name" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Telefone" mask="(99) 99999-9999" clean="false" ng-model="phone" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Estado" ng-model="state" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Cidade" ng-model="city" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Bairro" ng-model="district" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Rua" ng-model="street" >
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Número" ng-model="number" >
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="email" >
                </label>
              </ion-list>
              <br>
              <button class="button button-small button-positive" ng-click="Gps()">
                Pegar valores pelo GPS
              </button>
            <input type="submit" value="Sugerir" class="button button-block button-event" ng-click="submitbar()" />
          </form>
        </ion-content>
      </ion-view>
    </script>

    <script id="cartoes" type="text/ng-template">
      <ion-view title="Cartões" ng-controller="Cartoes">
          <ion-content padding="true" class="has-header">
            <ion-refresher on-refresh="doRefresh()"></ion-refresher>
            <div class="list">
              <div align="center" class="msg" id="msgcartoes">{{msg}}</div>
              <div ng-repeat="module in Cartoes">
                <a href="#/cartaoBarHistorico/{{module.id}}">
                <div class="item " ng-hide="module.card_secret">

                  <div class="row">

                    <div class="col"><img ng-src = "{{module.historics[module.historics.length-1].image_drink.url}}" width="100%"></div>
                    <div class="col col-75">
                      Bar:  <b>{{ module.bar }}</b><br>
                      Bebida: {{ module.drink }} <br>
                      Doses restantes: <b>{{ module.remaining_doses}}/{{module.total_doses }} </b><br>
                      Vencimento: {{ module.due_date | date:'dd/MM/yyyy'}} <br>
                    </div>

                  </div>

                </div>
                </a>
              </div>
            </div>
          </ion-content>
      </ion-view>
    </script>

    <script id="promocao" type="text/ng-template">
      <ion-view title="Promoções" ng-controller="Promocoes">
          <ion-content padding="true" class="has-header">
            <ion-refresher on-refresh="doRefresh()"></ion-refresher>
            <label class="item item-input busca">
              <input type="text" ng-model="data.busca" id="busca" placeholder = "Buscar">
            </label>
            <div class=" card">
            <div align="center" class="msg" id="msgpromocoes">{{msg}}</div>
              <div class="item item-text-wrap" ng-repeat="module in Promocoes | filter:FiltroTags">

                <div id="{{module.id}}"></div>

                <h2 align="center">{{module.bar_name}}</h2>
                <h3>{{module.title}}</h3>
                <img class="full-image" src="{{module.avatar.avatar.url}}">
                <p>{{module.description}}<br>
                  Válido até {{module.date | date:'dd/MM/yyyy'}}</p>
              </div>
            </div>
          </ion-content>
      </ion-view>
    </script>

    <script id="sobre" type="text/ng-template">
      <ion-view title="Sobre" >
          <ion-content padding="true" class="has-header">

            <h2>Papudinho - Clube do Whisky</h2>
            <h3>Versão: 1.41.0</h3>
            <h3>Todos os direitos reservados para Global Gapps</h3>
            <h3>2016</h3>

          </ion-content>
      </ion-view>
    </script>

    <script id="dados" type="text/ng-template">
      <ion-view title="Meus dados">
          <ion-content padding="true" class="has-header">
            <div class=" card">
              <div class="item item-text-wrap">
                <form ng-submit="submitDados()" ng-controller="dados">
                  <label class="item item-input">
                      <span>{{nome}}</span>
                  </label>
                  <label class="item item-input">
                      <span>{{email}}</span>
                  </label>
                  <label class="item item-input">
                      <input id="passwordOld" name="passwordOld" type="password" placeholder="Senha Antiga" ng-model="passwordOld">
                  </label>
                  <label class="item item-input">
                      <input id="password1" name="password1" type="password" placeholder="Senha Nova" ng-model="password1">
                  </label>
                  <label class="item item-input">
                      <input id="password2" name="password2" type="password" placeholder="Confirmar Senha Nova" ng-model="password2">
                  </label>
                  <input type="submit" id="submit" value="Alterar senha" class="button button-event button-block" />
                </form>
              </div>
            </div>
          </ion-content>
      </ion-view>
    </script>

    <script id="config" type="text/ng-template">
      <ion-view title="Configurações">
          <ion-content padding="true" class="has-header">
            <div class="card">
              <div class="item item-text-wrap">
                <form ng-submit="submitConfig()" ng-controller="Config">
                  <div align="center" class="msg" id="msgconfig">{{msg}}</div>
                  <ul class="list">
                    <ion-toggle ng-model="promocoes" ng-change="ConfigChange()">
                      Receber promoções
                    </ion-toggle>

                    <ion-toggle ng-model="gps" ng-change="ConfigChange()">
                      Ativar GPS
                    </ion-toggle>

                    <ion-toggle ng-model="visibilidade" ng-change="ConfigChange()">
                      Visibilidade para outros papudinhos
                    </ion-toggle>

                    <ion-toggle ng-model="privacidade" ng-change="ConfigChange()">
                      Mostrar cartões privados
                    </ion-toggle>
                  </ul>
                  <input type="submit" id="submit" value="Salvar" class="button button-event button-block" />
                </form>
              </div>
            </div>
          </ion-content>
      </ion-view>
    </script>

    <script id="addCartao" type="text/ng-template">
      <ion-view view-title="Novo Cartão">

        <ion-nav-bar class="bar-royal" ng-controller="Back">
          <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
              <i class="ion-chevron-left"></i> Voltar
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <form ng-controller="NovoCartao">
          <div align="center">
            <ion-spinner icon="lines" class="spinner-calm" ng-show="checked"></ion-spinner>{{msg}}
          </div>

            <div class="row">
              <div class="col">
                <label class="item item-input">
                  <input type="text" placeholder="Bebida" ng-model="bebida" >
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label class="item item-input">
                  <input type="text" placeholder="Bar" ng-model="bar" >
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label class="item item-input">
                  <span class="input-label">Data de Vencimento</span>
                  <input type="date" ng-model="vencimento" required>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label class="item item-checkbox">
                  <span class="input-label">Cartão Secreto </span>
                  <label class="checkbox">
                    <input type="checkbox" ng-model="secreto">
                  </label>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col col-80">
                <div class="item range range-positive">
                  <a class="button button-icon icon  ion-minus-round" ng-click="ChangeRange(-1)"></a>
                  &nbsp;&nbsp;&nbsp;
                  <input type="range" name="doses" min="0" max="20" value="1" ng-model="doses">
                  <a class="button button-icon icon  ion-plus-round" ng-click="ChangeRange(1)"></a>
                </div>
              </div>
              <div class="col col-center" align="center">
                <p>Doses : {{doses}}</p>
              </div>
            </div>

            <div class="row">
              <div class='col'>
                <img ng-src="{{imgDrink}}" width="100%" ng-click="openModal(1)">
                <button ng-click="capturePhoto(1)" class="button button-small button-positive icon-left ion-ios-camera">Tirar Foto da Bebida</button>
              </div>
              <div class="col">
                <img ng-src="{{imgCard}}" width="100%" ng-click="openModal(2)">
                <button ng-click="capturePhoto(2)" class="button button-small button-positive icon-left ion-ios-camera">Tirar Foto do Cartão</button>
              </div>
            </div>
            <br/><br/>
          </form>
        </ion-content>
        <div class="bar bar-footer button-event" ng-controller="FooterNovoCartao">
          <div class="title" ng-click="click1()">Salvar</div>
        </div>
      </ion-view>
    </script>

    <script id="modal-ft.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">{{titulo}}</h1>
          <div class="buttons">
            <button class="button button-clear ion-close-circled" ng-click="closeModal()"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <img ng-src = "{{img}}" width="100%">
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="updatecartao" type="text/ng-template">
      <ion-view view-title="Atualizar Cartão">

        <ion-nav-bar class="bar-royal" ng-controller="Back">
          <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
              <i class="ion-chevron-left"></i> Voltar
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header">
          <form ng-controller="UpdateCartao">
            <div align="center">
              <ion-spinner icon="lines" class="spinner-calm" ng-show="checked"></ion-spinner>{{msg}}
            </div>
            <div class="row">
              <div class="col">
                <label class="item item-input">
                  <input type="text" placeholder="Bebida" ng-model="drink" disabled>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label class="item item-input">
                  <input type="text" placeholder="Bar" ng-model="bar" disabled>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col col-80">
                <div class="item range range-positive">
                  <a class="button button-icon icon  ion-minus-round" ng-click="ChangeRange(-1)"></a>
                  &nbsp;&nbsp;&nbsp;
                  <input type="range" name="doses" min="0" max="20" value="1" ng-model="doses">
                  <a class="button button-icon icon  ion-plus-round" ng-click="ChangeRange(1)"></a>
                </div>
              </div>
              <div class="col col-center" align="center">
                <p>Doses : {{doses}}</p>
              </div>
            </div>

            <div class="row">
              <div class='col'>
                <img ng-src="{{imgDrink}}" width="100%" ng-click="openModal(1)">
                <button ng-click="capturePhoto(1)" class="button button-small button-positive icon-left ion-ios-camera">Tirar Foto da Bebida</button>
              </div>
              <div class="col">
                <img ng-src="{{imgCard}}" width="100%" ng-click="openModal(2)">
                <button ng-click="capturePhoto(2)" class="button button-small button-positive icon-left ion-ios-camera">Tirar Foto do Cartão</button>
              </div>
            </div>
          </form>
        </ion-content>
        <div class="bar bar-footer button-event" ng-controller="FooterUpdateCartao">
          <div class="title" ng-click="click1()">Salvar</div>
        </div>
      </ion-view>
    </script>

    <script id="chat" type="text/ng-template" >
      <ion-view>

        <ion-nav-bar class="bar-royal" ng-controller="Back">
          <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
              <i class="ion-chevron-left"></i> Voltar
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content padding="true" class="has-header" ng-controller="Chat">
          <ul class="list">
            <li class="item" ng-repeat="message in messages">
              <div class="chat-eu" ng-if="message.name == meuName">{{message.text}}</div>
              <div class="chat-amigo" ng-if="message.name == nameAmigo">{{message.text}}</div>
            </li>
          </ul>
          <p>&nbsp;</p>
        </ion-content>
        <div class="bar bar-footer bar-royal" ng-controller="Chat"  >
          <input class="chat-input" type="text" ng-model="message">
          <button class="button button-event " ng-click="addMessage()">Enviar</button>
        </div>
      </ion-view>
    </script>

  </body>
</html>
