<ion-view view-title="Mensagens" ng-controller="Chat">
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
      <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
        <i class="ion-chevron-left"></i> Voltar
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <p>Lista das mensagens dos bares</p>
    <div class="list">
        <a class="item item-avatar" href="#/messages/{{ chat.id }}" ng-repeat="chat in chats">
          <img src="{{ chat.logo }}">
          <h2>{{ chat.barname }}</h2>
          <p>{{ chat.text }}</p>
        </a>
    </div>
  </ion-content>


</ion-view>
