<ion-view view-title="Mensagens" ng-controller="CartaoBarHistorico">
  <ion-nav-bar class="bar-royal" ng-controller="Back">
    <ion-nav-buttons side="left">
      <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
        <i class="ion-chevron-left"></i> Voltar
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <p>Lista das mensagens dos bares</p>
    <div class="list">
        <a class="item item-avatar" href="#">
          <img src="venkman.jpg">
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
    </div>
  </ion-content>


</ion-view>