<ion-view view-title="Mensagens" ng-controller="Messages">
  <ion-nav-bar class="bar-royal" ng-controller="Back">
    <ion-nav-buttons side="left">
      <button class="button back-button buttons button-clear header-item" ng-click="myGoBack()">
        <i class="ion-chevron-left"></i> Voltar
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="messages-chat" class="has-header">
    <ion-scroll class="messages-scroll">
      <ul>
        <li ng-repeat="message in messages">
          <label>{{ message.from }}</label>
          <p>{{ message.text }}</p>
        </li>
      </ul>
    </ion-scroll>
    <div class="messages-bottom">
        <div class="textarea">
          <textarea ng-model="text" id="message"></textarea>
        </div>
        <i class="icon ion-paper-airplane" ng-click="send()"></i>
    </div>
  </ion-content>



</ion-view>
