.placeholder::-webkit-input-placeholder {
  color: white!important;
}
.placeholder:-moz-placeholder {
  color: white!important;
}
.placeholder:-ms-input-placeholder { /* IE10+ */
  color: white!important;
}

#imagem{
	width: 300px;
	height: 300px;
}

.voltar{
	border: 0;
	padding: 5px;
}

.bg{
	background-color: rgb(255, 191, 37)!important;
	background-size:100% 100%;
}

.itemMenu {
    border-color: #ddd;
    background-color: #fff !important;
    color: #444 !important;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.clearLink{
	text-decoration: none;
}

.label-index{
	/*background-color: rgb(73,122,171);*/
  background-color: rgba(0, 0, 0, 0.5);
	border: 0px;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
}

.label-index::-webkit-input-placeholder {
  color: red;
  width: 250px;
}

.label-index input{
	color: #FFF;
}

.button-event{
  background-color: rgb(56 ,115 ,173)!important;
  border: 0 !important;
}

.bar-royal{

  background-color: rgb(255, 191, 37)!important;
  color: white;
  border: 0;
}

.button {
  color:#FFF;
}

.solicitacao{
  ;
}
ul a{
	/*background-color: rgb(56 ,115 ,173)!important;*/
  background-color: rgb(255 ,191 ,37)!important;
	color: #FFF !important;
}

a{
	color: white;
	text-decoration: none;
}

h2, .titulo{
	color: rgb(27,66,119);
}

.busca {
	border: 1px solid #AAAAAA;
	border-radius: 30px;
	margin-bottom: 10px;
}

.bot{
	border-bottom: 1px solid white!important;
}

.chat-eu{
	text-align: right;
	color: blue;
	white-space: normal!important;
}

.chat-amigo{
	text-align: left;
	color: green;
	white-space: normal!important;
}

.chat-input{
	width: inherit;
}

.msg {
	 color: #FFF;
    font-weight: bold;
    background: red;
}

.messages-scroll {
  bottom: 70px !important;
}

.messages-chat  li {
  padding: 10px;
}

.messages-chat p {
  margin: 0px;
}

.messages-chat .self {
  background-color: rgba(0,0,0,0.03);
}

.messages-bottom {
  position: absolute;
  bottom: 0px;
  height: 70px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #e6e6e6;
}

.messages-bottom .textarea {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  bottom: 10px;
  right: 50px;
}

.messages-bottom button {
    position: absolute;
    top: 15px;
    width: 40px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-right: 7px;
    font-size: 25px;
    background-color: rgba(0,0,0,0.1);
    color:  rgba(0,0,0,0.6);
    right: 5px;
    z-index: 20000;
}


.messages-bottom .icon {
    text-align: center;
    font-size: 25px;
    color:  rgba(0,0,0,0.6);
    right: 5px;
    z-index: 20000;
}

.textarea textarea {
  border-radius: 10px;
   resize: none;
   padding: 10px;
  width: 100%;
  height: 100%;
}

.messages-chat label {
  font-weight: bold;
  color: #3873AD;
}

.messages-chat p {
  color: #333;
}
